.tab {
    background-color: #aaa;
    border: 2px solid #888;
    border-radius: 5px;
    padding: 5px;
    margin: 2.5px;
    display: inline-block;
    flex-shrink: 0;
}

.tab-close {
    float: right;
}
