.editor {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    /* testing */
    border: 1px dashed green;
}

div.test {
    font-size: 80%;
    width: 50px;
    background-color: red;
    color: white;
}
