.file-explorer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    font-size: 80%;
    /* testing */
    border: 1px solid black;
}

.file-explorer-title {
    width: 100%;
    background-color: #ccc;
    margin: 0;
}
