.variable-storage {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    font-size: 80%;
    border: 1px solid black;
}

.variable-storage-title {
    width: 100%;
    background-color: #ccc;
    margin: 0;
}

.variable-storage-table {
    height: 100%;
    overflow-y: scroll;
}

.variable-storage-table table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 90%;
}

.variable-storage-table table thead tr th {
    position: sticky;
    top: 0;
    background-color: #ddd;
}

.variable-storage-table td {
    border: 1px solid black;
    padding: 3px;
}

.variable-storage-cell-value {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
}